<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section >
		
		
	
   

<!-- 	<div class="section"> -->
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>What is Hospital Management System (HMS):</h3>
					<p><span>Hospital management system was introduced with the cause for helping hospitals speed up their processes.</span>





<h6>Hospital management system is a computer system that helps manage the information related to health care and aids in the job completion of health care providers effectively. They manage the data related to all departments of healthcare such as,</h6>


<ol><li>
Clinical </li>

<li>Financial</li>

<li>Laboratory</li>

<li>Inpatient</li>

<li>Outpatient</li>

<li>Operation theater</li>

<li>Materials</li>

<li>Nursing</li>

<li>Pharmaceutical</li>

<li>Radiology</li>

<li>Pathology etc.</li>
</ol>


					<div class="button">
						<a href="">Read More</a>
					</div>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section">
				<img src="/img/image4.png">
			</div>
		</div>


	

	</section>
</body>
</html>